<html>
        <head>
            <title>Arsen's blog</title>
        </head>
        <body><em><strong>
            <p>Hi there!</p>
            <p>It works!</p>
        </body></em><strong>

                  <head>
            <title>Мой Бложик </title>
        </head>
        <body>
            <div>
                <h1><a href="">Мой Бложик</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p> Слався Пайтон!!!</p>
            </div>
</html>