<html>
    <head>
        <title>Arsen's blog</title>
    </head>
    <body>
        <em>
            <strong>
                <span>Hi there!</span><br>
                <span>It works!</span>
            </strong>
        </em>

        <title>Мой Бложик </title>
        <div>
            <h1><a href="">Мой Бложик</a></h1>
        </div>

        <div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        </div>
    </body>
</html>